//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     title Document
//- body 
//-   section.contact 
//-     .container
//-       h6.contact__direction Hjemmeside
//-         span.contact__directionLine  
//-         | Kontakter
//-       .contact__container 
//-         .contact__info      
//-           h2.contact__title.contact__title--remove Hvordan kan vi hjelpe?
//-           p.contact__description.contact__description--remove Velg et emne nedenfor relatert til din henvendelse. Hvis du ikke finner det du trenger, fyll ut kontaktskjemaet vårt.
//-           .contact__block 
//-             h4.contact__blockTitle Bestill en demo
//-             p.contact__blockDescription Si at du spiller en spilleautomat med et racingtema, slik er det:
//-           .contact__block 
//-             h4.contact__blockTitle Bli inspirert
//-             p.contact__blockDescription Oppdag de mange måtene kundene våre bruker kenguru på.
//-           .contact__block 
//-             h4.contact__blockTitle Bli en partner
//-             p.contact__blockDescription Bli med i vårt partnerprogram og tjen 25% gjentakende provisjoner.
//-           p.contact__name TRUSTED BY
//-           .contact__imgs 
//-             img(src="./image/contact1.svg", alt="Company").contact__img
//-             img(src="./image/contact2.svg", alt="Company").contact__img
//-             img(src="./image/contact3.png", alt="Company").contact__img
//-         .contact__form
//-           h2.contact__formTitle Sende melding
//-           form(action="#").contact__action
//-             .contact__formName
//-               .contact__column 
//-                 label(for="Name").contact__label Fornavn:  
//-                 input(type="text").contact__input 
//-               .contact__column 
//-                 label(for="Surname").contact__label Andre navn
//-                 input(type="text").contact__input 
//-             label(for="email").contact__label E-post 
//-             input(type="email").contact__input 
//-             label(for="message").contact__label Beskjed 
//-             input(type="text").contact__input   
//-             .contact__send 
//-               input(type="file").contact__sendInput
//-               label(for="file").contact__sendLabel
//-                 img(src="./image/inputFile.svg", alt="download")
//-               .contact__sendText 
//-                 p.contact__format Last opp fil (pdf, jpg, word)
//-                 p.contact__formatInfo Størrelsen på filen er ikke skyldig i å endre 5Mb
//-             button.contact__btn.btn__hover.btn__active Send meldinger
//-             .contact__mail   
//-               img.contact__message(src="./image/img__message.svg", alt="icon__message")
//-               a(href="mailto:help@kangoroo.com").contact__email help@kangoroo.com       
//-         p.contact__description.contact__description--mobile Velg et emne nedenfor relatert til din henvendelse. Hvis du ikke finner det du trenger, fyll ut kontaktskjemaet vårt.
//-         h2.contact__title.contact__title--mobile Hvordan kan vi hjelpe?     


